.high-score-time{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.high-score-time a,span{
    display: flex;
    
}

.high-score-time a{
    text-decoration: none;
    color: purple;
    padding-left: 20px;
    font-size: 18px;
}

.high-score-time span{
    padding-right: 20px;
    font-size: 18px;
}

.content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 100px;
    align-content: center;
    text-align: justify;
}

.main-heading{
    display: flex;
    flex-wrap: wrap;
    font-size: 40px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    
    justify-content: center;
    align-items: center;
    text-align: justify;
    max-width: 80%;
}

.subcontent{
    display: flex;
    justify-content: center;
    margin-top: -25px;
    flex-wrap: wrap;
    align-content: center;
    
    
}


.subcontent h3{
    display: flex;
    font-size: 25px;
    text-align: center;
    flex-wrap: wrap;
    font-family: Arial, Helvetica, sans-serif;
}

.start{
    display: flex;
    justify-content: center;
    align-content: center;
}

.btn{
    border-radius: 10px;
    height:50px;
    width: 150px;
    font-size: 20px;
    background-color: #5A0659;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
}

.new-btn{
    display: flex;
    
    justify-content: flex-start;
    align-items: center;
    border-radius: 10px;
    height:50px;
    width: 250px;
    font-size: 20px;
    background-color: #5A0659;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.ulEl{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-content: center;
}

.firstListEl{
    display: flex;
    justify-content: flex-start;
    align-content: center;
    list-style: none;
    
    margin-top: 10px;
    width: 80%;
    margin-bottom: 20px;
    
}

.listEl{
    list-style: none;
    
    margin-top: 10px;
    width: 60%;
    margin-bottom: 20px;
    text-align: center;
}

.line{
    margin-top: 40px;
    display: flex;
    width: 73%;
    justify-content: center;
    margin-right: 230px;
}

.right-wrong{
    display: flex;
    justify-content: center;
    margin-left: -200px;
    font-size: 20px;
    color: grey;
}

.h3El{
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
}

.finalDivEl{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heading{
    
    font-size: 35px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    
    justify-content: center;
    align-items: center;
    text-align: center;
}

.listScore{
    display: flex;
    list-style: none;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 5px;
    width: 60%;
    height: 50px;
    margin-bottom: 20px;
    justify-content: flex-start;
    align-items: center;
    background-color: rgba(177,156,217,0.5);
    padding: 10px;
}

.liBtnEl{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
}
